* {
  font-family: 'Jua', sans-serif;
}
header {
  text-align: center;
  height: 100px;
  width: 400px;
  background-color: mediumturquoise;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  width: 400px;
  height: 500px;
  overflow: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none;
}
section::-webkit-scrollbar {
  display: none;
}
.menu-list {
  width: 400px;
}
.order-title {
  text-align: center;
  font-size: 40px;
}
.menu-list > .menu-box {
  height: 130px;
  display: flex;
  margin: 0 auto;
}
.menu-box > img {
  height: 130px;
  width: 130px;
}
.menu-details {
  width: 270px;
  margin: auto auto;
}
.menu-name {
  text-align: center;
  padding: 5px;
  font-size: 25px;
}
.menu-price {
  text-align: right;
  margin: 0 10px;
}
.order-bar {
  width: 400px;
  text-align: center;
  padding: 10px;
}
.order-btn {
  font-size: 20px;
  display: inline-block;
}
footer {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.footer-btn {
  border-style: solid;
  padding: 11px;
}
